.search{
    
    width: 40%;
    margin-bottom: 10px;
    display: flex;
    background-color: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-left: 5%;
    .search-input{
        width : 100%;
        border: none;
        border-radius: 10px;
    }
    
    
    .search-input{
        width: 100%;
        padding: 10px;
        background-color: #f1f3f4;  
        // text-align: center;
    }

}
.hearder{
    margin-left: 20%;
    .header-icons{
        display: flex;
    }
}

.account-details{
    width: 280px;
    height: 230px;

    .detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .manage-account{
        width: 90%;
        display: flex;
        justify-content: center;
        height: 30px;
        border: 1px solid;
        border-radius: 4px;
        margin-top: 5%;

    }
    .image-details{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: 1px solid;
        font-size: 80px;
        color: cornsilk;
        background-color: blueviolet;
    }
    .add-account{
        display: flex;
        justify-content: center;
        // margin-top: 20px;
        .add{
            width: 60%;
            display: flex;
            justify-content: center;
            border: 1px solid;
        }
    }
    .Name{
        font-weight: 600;
    }

    .email{
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
  
}
@media screen and (max-width : 430px) {
    .side-bar{
        position: absolute;
    }
    .bar-app{
        width: 185px;
    }
}