.form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}

.g1 {
    padding: 0px;
    margin-left: 24px;
}

.h1 {
    font-family: 'Google Sans';
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
}

.fn {
    width: 100%;
}

.ln {
    width: 100%;
}

.email {
    width: 100%;
}

.pass {
    width: 100%;
}

.passc {
    width: 100%;
}

.firstn {
    padding-top: 10px;
    padding-bottom: 24px;
}

.lastn {
    padding-top: 10px;
    padding-bottom: 24px;
}

.emaild {
    /* padding-top: 24px; */
}

.password {
    padding-top: 24px;
}

.passwordc {
    padding-top: 24px;
}

.email-option {
    color: #1A73E8;
    font: 14px;
    font-family: "Google Sans", Arial, sans-serif;
    padding-top: 12px;
    padding-bottom: 24px;
    font-weight: 600;
}

.checkbox {
    display: flex;
    margin-top: 10px;
   
    font-size: 14px;
    font-weight: 500;
    

}
.signin{
    color: #1A73E8; 
    font-weight: 600;
    margin-top: 24px;
}
.last{
    display: flex;
    /* justify-content: space-evenly; */
}
.next{
    margin-left: 25%;
    color: white;
    text-align: center;
    background-color:#4386dd;
    width : 25%;
    border-radius: 8px
}
.show{
    margin-left: 5%;
}


@media screen  and (max-width: 600px) {
    .form {
        display: flex;
        font-size: 14px;
        padding: 0px 24px 36px;
        width: 100%;
    }
    .image{
        display: none;
    }
}
@media screen and (min-width: 600px) and (max-width : 770px){
    .form{
        display: flex;
        padding: 0px 24px 36px;
    }
    .first-last{
        display: flex;
       
    }
 
    .border{
        margin-left: 20% ;
        margin-top: 15%;
        margin-right: 20%;
        margin-bottom: 15%;
        border-style: ridge;
        border-radius: 8px;
        border-width: 1px;

    }
    .confirm-pass{
        display: flex ;
        /* justify-content:space-between; */
        
    }
    .fn{
        width: 83%;
    }
    .ln{
        width: 83%;
    }
    .email{
        width: 89%;
    }
    .password{
        width: 40% ;
     
    }
    .passwordc{
        width: 40% ;
        margin-left: 10%;
     } 
     .image{
         display: none;
     }
}

@media screen and (min-width: 770px)   {

    .border{
        display: flex;
        margin-left: 10% !important;
        margin-top: 2% !important;
        margin-right: 10% !important;
        margin-bottom: 2% !important;
        border-style: ridge;
        border-radius: 8px;
        border-width: 1px;
    }
    .content{
       
        width: 60%;
        height: 60%;

    }
    .first-last{
        display: flex;
       
    }
    .form{
        display: flex;
        padding: 0px 24px 36px;
    }
 
    .lastn{
        margin-left: 9%;
        width: 40%;
    }
    .firstn{
        width: 40%;
    }
    .email{
        width: 89%;
    }
    .password{
        width: 40% ;
     
    }
    .passwordc{
        width: 40% ;
        margin-left: 10%;
     } 
     .confirm-pass{
        display: flex ;
    }
    .image{
        margin-top: 15%;
        margin-left: 1%;
    }
}
