
@mixin flex ($width,$display,$juscon){
    width: $width;
    display: $display;
    justify-content: $juscon;
}


.container{
    
    border-style: ridge;
    border-width: 1px;
    border-radius: 8px;
    width :40%;
    // height: 10px;
    margin-left: 30%;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 1%;
    // margin-bottom: 2000px;
    .fun{
        @include flex(100%,flex,center);
    }
    height: 80vw;
    
    .findemail{
        @include flex(100%,flex,center);
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 14px;
    }
    .recover{
        @include flex(100%,flex,center);
        font-size: 16px;
        margin-bottom: 24px;
    }
    .password-field{
        @include flex(90%,flex,center);
        margin-bottom: 24px;
    }
    .next-button{
        @include flex(90%,flex,right);
        .button{
            @include flex(15%,flex,center);
            background-color:#4386dd;
            color:whitesmoke;           
        }
    }
  
}
